

    <h1>TAlhive Blogs</h1>
    <div class="container" style="display: inline-block;">
        <div style="border: 1px solid black">
            <h2 style="color: green;">blog name</h2>
            {{blog.title}}
        </div>
        <div style="border: 1px solid black">
                <h2 style="color: purple;">blog body</h2>
            {{blog.body}}
        </div>
        <div style="border: 1px solid black">
                <h2 style="color: blue; text-decoration: underline;">created at</h2>
            {{blog.created_at}}
        </div>
        <div style="border: 1px solid black">
                <h2 style="color: red;">author</h2>
            {{blog.author}}
        </div>
    </div>
    <a href="/blog">
