{% extends 'blog/layout.html' %}

{% block content %}

<!--main-->
<section id="showcase">
        <div id="img"></div>
        <div class="tex">
            <!--  <h1>Welcome To Tal<span class="logoc">hive</span> <span class="locoe">!</span></h1>
            -->
        </div>
        </div>
    </section>


    <section id="newsletter">
            <div class="floating">
                <h3>Subscribe and get Notified regarding latest Job Openings.</h3>
                <h4>
                    <i>No Registration Required</i>
                </h4>
                <form>
                    <input type="email" name="EmailN" placeholder="Enter your Email id">
                    <button class="click">Subscribe</button>
                    <button class="close">x</button>
                </form>
            </div>
    </section>


    <section id="wedo">
        <div class="container">
            <h1>Our Services</h1>

            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                unchanged. Why do we use it? It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </section>
    <section id="oclients">
        <div class="container">
            <h2>Our Clients</h2>

            <div class="slider">
                <div class="slide1"></div>
                <div class="slide2"></div>
            </div>
            <div class="slider">
                <div class="slide3"></div>
                <div class="slide4"></div>
            </div>
            <div class="slider">
                <div class="slide5"></div>
                <div class="slide6"></div>
            </div>
            <div class="slider">
                <div class="slide7"></div>
                <div class="slide8"></div>
            </div>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <h2>Browse through our job Sections.</h2>
            <div class="boxin">
                <div class="box">
                    <a href="">Design</a>
                    <p>Browse all Design related Jobs here</p>
                </div>
                <div class="box">
                    <a href="">Technology</a>
                    <p>Browse all Technology related Jobs here</p>
                </div>
            </div>
            <div class="boxout">
                <div class="box">
                    <a href="">Digital Nomad</a>
                    <p>Want to be a Digital Nomad ? we got you covered.</p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}