body{
    font-family: 'Montserrat', sans-serif;
    font-size:1.12em;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;


}

/* Global */

.container {
    width: 80%; 
    margin: auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

/* header */
 
header {
    z-index: 1;
    position: fixed;
    min-width: 100%;
    background: #242525;
    color: #f4f7f6;
    padding-top: 6px;
    min-height: 68px;
    border-top: #5dbcd2 2px solid;
    border-bottom: #f4f7f6 2px solid;
    text-align: center;
    transition: all ease .5s;
}

header.scrolled {
    transition: all ease .5s;
    background: #f4f7f6;
    color: #000000;
    border-bottom: #5dbcd2 2px solid;
}

header.scrolled a {
    transition: all ease .5s;
    color: #272323;
}

header.scrolled a:hover {
     
    font-weight: lighter; 
    transition: all ease .1s;
    color: #5dbcd2;
}

header a {
    color: #f4f7f6;;
    text-decoration: none;
    font-size: 16px;  
}

header a:hover {
    font-weight: lighter;  
    transition: all ease .1s;
    color: #5dbcd2;    
}

header #Hleft {
    float: left;
}

header #Hright {
    float:right;    
}

header li {
    display: inline-block;
    padding: 26px 16px 16px 16px; 
}

header li:hover{
border-bottom: 2px solid #5dbcd2 ; 
}

.logoc {
    color: #5dbcd2;
}

.locoe{
    color: #242525;
}

#Hleft h1 {
    font-size: 30px;
    margin: 10px 0 10px 0;
}

/* showcase */
#showcase {
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    perspective: 1px;
}

#img {
    background:  url("../showcase3.jpg") no-repeat fixed; 
    top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform-style: inherit;
    z-index: -1;
    transform: translateZ(-1px) scale(2.2);
    min-height: 680px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#img::after {
    content:'';
    position:absolute;
    left:0; top:0;
    opacity: 0.6;
    width:100%;
    height:100%;
    display:inline-block;
    background:  linear-gradient(to bottom, #5dbcd2, #87ccd4, #aedbda, #d2e9e5, #f4f7f6);
}

#showcase .tex {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

#showcase h1 {
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* newsletter 

    border-bottom: 3px solid #ffffff26;
    
#newsletter {
    border-top: #ADD8E6 2px solid;
    border-bottom: #ADD8E6  2px solid;
    padding-bottom: 20px;
}

#newsletter h2, h3 {
    margin: 20px;
}

#newsletter h4 {
    margin: 0px;
    margin-top: -20px;
}

#newsletter input[type="text"], input[type="email"] {
    outline: none;
    line-height: 2;
    margin: 5px;
    background: #f4f7f6;
    text-align: center;
    padding: 5px 10px;
    width: 260px;
    border-radius: 5px;
    border: 1px solid #e1e1e5;
   -webkit-box-shadow: 0px 1px 1px 0px #ADD8E6;
   -moz-box-shadow: 0px 1px 1px 0px #ADD8E6;
    box-shadow: 0px 1px 1px 0px #ADD8E6; 
    color: #5dbcd2;
}

#newsletter button {
    outline: none;
    line-height: 2;
    cursor:pointer;
    margin: 5px;
    background: #5dbcd2;
    text-align: center;
    padding: 5px 10px;
    width: 160px;
    border-radius: 5px;
    border: 1px solid #e1e1e5;
   -webkit-box-shadow: 0px 1px 1px 0px #ADD8E6;
   -moz-box-shadow: 0px 1px 1px 0px #ADD8E6;
    box-shadow: 0px 1px 1px 0px #ADD8E6; 
    color: #f4f7f6;
}

*/

/*  wedo */

#wedo {
    background: #f4f7f6;
    padding: 20px 0;
}

/* oclents */

#oclients , #oclients ul {
    padding: 20px 0;
}

#oclients li  {
    display: inline-block;
}

#oclients img {
    width :70px;
    height: 70px;
    padding: 10px 30px 10px 30px;
}

/*  boxes  */


#boxes {
    background: #f4f7f6;
    padding: 20px 0;
}


#boxes .box {
    display: inline-block;
    background: #ffffff;
    margin: 20px;
}

.box {
    border-radius: 5px;
    border: 1px solid #e1e1e5;
   -webkit-box-shadow: 0px 1px 1px 0px #ADD8E6;
   -moz-box-shadow: 0px 1px 1px 0px #ADD8E6;
    box-shadow: 0px 1px 1px 0px #ADD8E6;
    width: 260px;
    height: 120px;
    padding: 14px;
}

#boxes a {
    color: #5dbcd2;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: underline;
}



/*  footer  */

footer {
    min-width: 100%;
    background: #000000;
    animation-name: fadeInDown;
    color: #f4f7f6;
    min-height: 30px;
    border-top: #5dbcd2 2px solid;
    border-bottom: #f4f7f6 2px solid;
    text-align: center;
    
}

footer p {
    margin: 10px;
}